/*  BODY STUFF */

/*  ACHIVMENT STUFF */
#achievementUI {
  display: none;
}
.lockedAch {
  display: none;
}



/*  INVENTORY STUFF */
.lockedSeeds {
  display: none;
}
.unlockedSeeds {
}


#inventoryUI, #achievementUI {
  left: 0;
  background-color: white;
}

#gardenUI {
  right: 0;
  background-color: #fff6db;
}
